
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    font-size: 15px;
}

.logo {
    display: flex;
    align-items: center;
} 

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 1px;
}

nav .ativo a,
nav a:hover {
    background-color: #39aae1;
    color: #fff; 
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(imagens/banner-2.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
}

.coluna {
    flex-direction: column;
}

.banner_topo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_topo h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #5555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    
}
.banner_topo h2 {
    color: #fff;
    font-size: 25px;
    text-shadow: 0px 1px 0px #5555;
    max-width: 350px;
    margin-top: 20px;   
    
}
.banner_opcoes{
    height: 210px;
    display: flex;
}
.opcao1,.opcao2,.opcao3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.opcao1 {
    background-color: rgba(95, 160, 235, 0.493);
} 

.opcao2 {
    background-color: rgba(95, 207, 235, 0.493);
} 

.opcao3 {
    background-color: rgba(16, 180, 172, 0.253);
} 

.banner_titulo {
    font-size: 21px;
}

.banner_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.banner_opcoes a {
    display: inline-block;
    text-decoration: none;
    color:black;
    border: solid 1px darkgreen;
    padding: 5px;
    font-size: 12px;
    background-color: #ccc; 
}

.banner_horario {
    font-size: 14px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #717171; 
    padding-bottom: 8px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}

.setor-titulo {
    margin-top: 20px;
    margin-bottom: 30px;
}

.setor-titulo-texto {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.setor-barra {
    width: 50px;
    height: 2px;
    background-color: aqua;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .data_noticia {
    display: flex; 
}

article .noticia_postada {
    background-color: #2b4c99;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    margin-right: 2px;
}

article .comentario_noticia {
    background-color: #39aae1;
    padding: 10px;
    font-size: 12px;
    color: #fff;
}

article .noticia_imagem {
    margin-top: 30px;
}

article .noticia_imagem img {
    width: 100%;
    height: auto;
}   

article .titulo_noticia {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 23px;
}

article .resumo_noticia {
    font-size: 14px;
    line-height: 20px;
    color: #0018;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: justify;
}

.departamentos {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.departamentos .caixa  {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: rgba(36, 81, 230, 0.836);
}


.marque_consulta {
    color: #515151;
    font-size: 14px;
    border-bottom: 1px solid #2c2c2c;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

#tel, #email, #endereco {
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #2c2c2c;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}

#tel img {
    max-width: 30px;
    margin-right: 8px;
}
#email img {
    max-width: 30px;
    margin-right: 8px;
}
#email a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}

.footer-menu {
    display: flex;
}

.fm-1, .fm-2, .fm-3 {
    flex: 1;
    color: #fff;
}

.fm-1 {
    background-color: rgba(95, 160, 235, 0.493);
} 

.fm-2 {
    background-color: rgba(95, 207, 235, 0.493);
} 

.fm-3 {
    background-color: rgba(16, 180, 172, 0.253);
} 

.footer-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.footer-menu-titulo {
    font-size: 20px;
    padding: 15px;

}

.footer-menu-desc {
    font-size: 14px;
    padding: 10px;
}

.footer-area {
    display: flex;
    color: #fff;
}

.footer-area-item {
    flex: 1;
}

footer .setor-titulo-texto{
    color: #fff;
}

footer .setor-body-desc {
    color: #5c5c5c;
    padding-top:20px;
    padding-bottom: 20px;
}

footer .setor-body-contato {
    display:inline-block;
    flex-direction:column;
    justify-content: space-between;
    margin-right: 40px;
    color: #5c5c5c;
    font-size: 14px;
}

footer .footer-copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color:#5c5c5c;
    font:12px;
    margin-top: 30px;
}